p {
  font-family: 'Roboto', sans-serif;
}

.card-image {
    border-radius: 10%;
    height: 40vh;
    object-fit: cover;
  }

.unisys-image {
  border-radius: 10%;
  height: 2vh;
}

.icon {
    width: 2em;
}