@media print {
  body {
      width: 8.5in;
      height: 11in;
      margin: 0 0 0 0;
  }
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-size: .65em;
}

p, h3, h4, h5 {
  margin: 0;
}

ul {
  margin: .2em 0 .2em 0;
}

/* Main header and section headers */
.header {
  margin-bottom: .5em;
  padding: .6em;
  display: flex; /* or inline-flex */
  background-color: hsl(171, 100%, 96%);
  align-items: center;
}

/* Main header left section - flex item */
.title {
  flex-grow: 2;
}

/* Main header right section - flex item*/
.contact-info {
  text-align: right;
  flex-grow: 1;
}

/* Main header */
.title > h1, .title > h2{
  margin: 0;
}

.title > h1 {
  color: hsl(171, 100%, 29%);
}

/* Section headers */
.header > h2 {
  margin: 0;
  color: hsl(171, 100%, 29%);
}

/* Flex container for main content and dates */
.content-container {
  margin: 0;
  padding: .4em 1em .4em 1em;
  display: flex;
}

/* Main content subsection - flex item*/
.content-column {
  flex-grow: 6;
  flex-basis: 0;
}

/* Dates subsection - flex item*/
.dates-column {
  flex-grow: 1;
  text-align: right;
}

/* Job titles */
.content-column > h4 {
  color: hsl(171, 100%, 29%);
}

/* Scientific Publications */
.pubs {
  font-size: .76em;
}

/* Remove hyperlink color */
a {
  color: inherit;
  text-decoration: none;
}